<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <nav>
        <ul>contato</ul>
        <ul>sobre</ul>
        <ul>login</ul>
    </nav>
    <section class="main">
        <div>
            <div>
                <h2 id="h2">SUA PLATAFORMA</h2>
                <p>Pesquise qualquer filme e serie agora mesmo!</p>
                
            </div>
            <div>
                <input id="btnhome" type="text" placeholder="Informe o nome do filme">
                <button class="button" type="submit">Pesquisar</button>
            </div>
        </div>
        <div class="ima">
            <img class="img" id="img" src="{{ url_for('static', filename='imagens/logo.png') }}"/>
        </div>
        <div id="ranking-container">
        </div>
       
    </section>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>